/* MODO OSCURO */
html.dark-mode,
html.dark-mode body {
	background-color: #121212;
	color: #eaeaea;
}

html.dark-mode body h2 {
	color: #90caf9;
}
html.dark-mode body h3 {
	color: #90caf9;
}

/* Navbar */
html.dark-mode body .navbar {
  background-color: #1e1e1e;
  border-bottom: 1px solid #333;
}

html.dark-mode body .nav-name {
  color: #90caf9;
}

html.dark-mode body .nav-right button,
html.dark-mode body .nav-right a {
  color: #eaeaea;
}
/* Dark mode LOGROS */
.dark-mode .frame {
  background: linear-gradient(
    45deg,
    #5c3a1a,
    #7a4a25,
    #4b2e14
  );
  border-color: #3a1f0f;
}

.dark-mode .frame iframe {
  background: #222;
  border-color: #ddd;
}


/* Botón CV */
html.dark-mode body .btn-cv {
  border-color: #90caf9;
}

html.dark-mode body .btn-cv:hover {
  background-color: #90caf9;
  color: #121212;
}

/* Secciones */
html.dark-mode body section {
  background-color: #1e1e1e;
}

/* Links */
html.dark-mode body a {
  color: #90caf9;
}

html.dark-mode body .lang-menu {
  background-color: #1e1e1e;
  border-color: #333;
}

html.dark-mode body .lang-menu button:hover {
  background-color: #333;
}

html.dark-mode #profile-picture {
	border: 3px solid #F4A020
}

/*Visit's counter:*/
html.dark-mode #visit-counter {
	background: rgba(255,255,255,0.12);
	color: #fff;
}
.dark-mode .selection-box {
	border: 3px solid #ffffff;
	background-color: #111;
	box-shadow: 6px 6px 0px #ffffff;
}
.dark-mode .selection-box:hover {
	box-shadow: 10px 10px 0 #ffffff;
}

/* Modo oscuro LOGROS */
.dark-mode .btn-achievement {
  background: #90caf9;
  color: #121212;
}

.dark-mode .btn-achievement:hover {
  background: #6faed6;
}

/* Dark mode IDIOMAS */
.dark-mode .bar {
  background: #333;
  border-color: #fff;
}

.dark-mode .progress {
  background: #81c784;
}
/*Social networks:*/
/*	*/
html.dark-mode body .social-link img {
	filter: invert(1) brightness(1.2);
}

/*cambios de color segun la red social*/
/*LinkedIn:*/
html.dark-mode body .social-link.linkedin:hover img {
	filter: invert(32%) sepia(95%) saturate(749%) hue-rotate(183deg) brightness(110%) contrast(110%);
}
/*Facebook:*/
html.dark-mode body .social-link.facebook:hover img {
	filter: invert(38%) sepia(84%) saturate(421%) hue-rotate(183deg) brightness(115%) contrast(110%);
}
/*YouTube:*/
html.dark-mode body .social-link.youtube:hover img {
	filter: invert(19%) sepia(94%) saturate(7451%) hue-rotate(357deg) brightness(120%) contrast(120%);
}
/*GitHub:*/
html.dark-mode body .social-link.github:hover img {
	filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%);
}
